* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;

}

body {
    margin: 0;
}

.wrapper {
    width: 1200px;
    height: 800px;
    /* border: 1px solid red; */
    margin: auto;
    overflow: auto;
    position: relative;
}

.column,
.inner-col {
    /* border: 1px solid red; */
}

#info,
#content-wrap {
    /* display: inline-block; */
    float: left;
    position: relative;
}
.column{
    width: 50%;
    float: left;
}

#info {
    width: 200px;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
}

#cotent-wrap {
    width: 1000px;
    margin-left: 200px;
}


h1 {
    font-size: 25px;
    text-align: left;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p,
li {
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}
