* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
.wrapper{
    width: 1200px;
    margin: auto;
}

h1 {
    font-size: 25px;
    text-align: left;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

a{
    color:black;
    text-decoration: none;
}
