* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;

}

body {
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    max-height: 800px;
    /* border: 1px solid red; */
    margin: auto;
    overflow: auto;
    position: relative;
}

#cotent-wrap {
    width: 100%;
    padding-left: 200px;
    position: relative;
}

.column {
    width: 50%;
    /* margin: 0; */
    /* display : inline-block; */
    float: left;
}

#info {
    width: 200px;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    font-size: 25px;
    text-align: left;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p,
li {
    font-weight: 400;
    line-height: 1.7;
}

li {
    list-style-type: none;

}

a {
    color: black;
    text-decoration: none;
}
